* {
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

.align-center{
    text-align: center;
}

.top-bar{
    margin-inline: 1rem;
    margin-bottom: 2rem;
}

.timer{
    float: right;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.view-scores{
    color : purple
}

.question, .ask-initials, .play-game, .score-list{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
}

.button-flex{
    display: flex;
    gap: 10px;
}

.styled-button{
    color : white;
    background-color: purple;
    border: 2px black solid;
    border-radius: 8px;
    padding: .3rem;
    width: 100px;

}

.submit-score{
    margin-left: 12px;
}


.result-text{
    display: none;
    width: 100%;
    color: gray;
    padding-top: 1rem;
    border-top: 2px solid grey;

}
.answers{
    position: relative;
    left: -10px;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: left;
}

.answer{
    min-width: 100%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: purple;
    margin: 5px;
    text-align: left;
    color: white;

}

.rules{
    text-align: center;
}

.inline{
    width: 200px;
    margin: 0 auto;
    display: inline;
}
 
.answer:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.answer::before{
    margin-left: 5px;
}

.answer:nth-child(1)::before{
    content: "1. ";
}

.answer:nth-child(2)::before{
    content: "2. ";
}
.answer:nth-child(3)::before{
    content: "3. ";
}
.answer:nth-child(4)::before{
    content: "4. ";
}


@media screen and (max-width:750px) {
    *{
        font-size: 14px;
    }

    .question, .ask-initials, .play-game, .score-list{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0;
    }
}